
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1align ="center">login form</h1>
    <form method="GET" align="center" action="/">
     <input type="text" name="Name" placeholder="name"><br/>
     <input type="email" name="Email" placeholder="email"><br/>
     <input type="password" name="Password" placeholder="password"><br/>
     <input type="submit">  
    </form>
</body>
</html>