<!DOCTYPE html>
<html>
    <head>
        <title>
            main page
        </title>
    </head>
    <body>
        <div class="program">
            <div class="head">
                <h1>Our <span>Program's</span></h1>
            </div>
            <div class="ourprogram">
                <div class="crd">
                    <img src="" alt="">
                    <h3>Dance</h3>
                </div>
                <div class="crd">
                    <img src="" alt="">
                    <h3>Cardio</h3>
                </div>
                <div class="crd">
                    <img src="" alt="">
                    <h3>Heavy weight</h3>
                </div>
            </div>
            <div class="plan">
                <div class="head">
                    <h1>Our <span>Plan's</span></h1>
                </div>
                <div class="ourPlan">
                    <div class="card">
                        <i class="fa-solid fa-bookmark"></i>
                        <h3>Beginer package</h3>
                        <h1>30 day in $15</h1>
                        <p>No personal Trainer</p>
                        <p>Valid for 30 days</p>
                        <p>Full day Valid</p>
                        <p>Food diet</p>
                        <button>Buy Plan</button>
                    </div>
                    <div class="card">
                        <div class="card">
                            <i class="fa-solid fa-bookmark"></i>
                            <h3>Intermediate package</h3>
                            <p>personal Trainer</p>
                            <p>Valid for 30 days</p>
                            <p>Full day Valid</p>
                            <p>Food diet</p>
                            <button>Buy Plan</button>
                        </div>
                        <div class="card">
                            <div class="card">
                                <i class="fa-solid fa-bookmark"></i>
                                <h3>Intermediate package</h3>
                                <p>personal Trainer</p>
                                <p>Valid for 30 days</p>
                                <p>Full day Valid</p>
                                <p>Food diet</p>
                                <button>Buy Plan</button>
                    </div>
                </div>
            </div>
            <div class="blog">
                <div class="head">
                    <h1>Our <span>Blog's</span></h1>
                </div>
                <div class="ourBlog">
                    <div class="blogcard">
                        <img src="" ait="">
                        <div class="blogText">
                            <h3>How To Make Abs ?</h3>
                            <p>Work those abs like it's your job, and watch them become your prized possession.</p>
                            <a href="">Read more</a>
                        </div>
                        <div class="blogcard">
                            <img src="" ait="">
                            <div class="blogText">
                                <h3>How To Make Abs ?</h3>
                                <p>Work those abs like it's your job, and watch them become your prized possession.</p>
                                <a href="">Read more</a>
                            </div>
                            <div class="blogcard">
                                <img src="" ait="">
                                <div class="blogText">
                                    <h3>How To Make Abs ?</h3>
                                    <p>Work those abs like it's your job, and watch them become your prized possession.</p>
                                    <a href="">Read more</a>
                                </div>
                    </div>
                </div>
            </div>
    </body>
</html>