<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1 align="center">sign up form</h1>
    <form method="GET" action="/signupSubmit" align="center">
     <input type="text" Name="name" placeholder="name"><br/>
     <input type="email" Name="email" placeholder="email"><br/>
     <input type="password" Name="password" placeholder="password"><br/>
     <input type="submit">
    </form>
</body>
</html>