<!DOCTYPE html>
<html>
    <head>
        <title>signup submit</title>
    </head>
    <body method="get" action="/popup">
        <p>you have sucessfully signup please login</p>
        <a href="/login">LOGIN</a>
    </body>
</html>